* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.bgcolor {
    background-color: rgb(15, 15, 15);
    height: 55px;
}
.navbar ul li a,
.hotel-logo ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}
.hotel-logo {
    font-size: 35px;
    float: left;
    padding-top: 5px;
}
li {
    display: inline;
}
div.navbar ul li a{
    font-size: 25px;
    float: right;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
}
div.navbar ul li a:hover {
    background-color: rgb(32, 28, 28);
    color:blue;
    height: 55px;
}
.active {    
    background-color: rgb(32, 28, 28);
    color:blue;
    height: 55px;
}

.bacimg {
    background-image: url(hotel-room.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
div.position {
    text-align: center;
    padding-top: 80px;
}
div.position h1 {
    color:black;
    font-size: 50px;
}
div.position p {
    color: white;
    font-size: 25px;
}
a.btn {    
    text-decoration: none;
    color: white;
    overflow: auto;
    width: 20px;
    height: 15px;
}
.btn:hover {
    color: blue;
}
.clr {
    clear: both;
}

.hall {
    float: left;
    width: 50%;
    height: 600px;
}
.hall img {
    overflow: auto;
    width: 100%;
    height: 600px;
}
.info {
    float: left;
    width: 50%;
    height: 600px; 
    background-color:rgb(15, 15, 15);
}
.info h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 100px;

}
.info p {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
} 
.info a {
    padding-left: 300px;
    padding-top: 15px;
    font-size: 15px;
}
.hotel-loc {
    float: left;
    width: 33%;
    height: 300px;
}

.hotel-loc1 {
    float: left;
    width: 33%;
    height: 300px;    
    background-color: tomato;
}

.hotel-loc2 {
    float: left;
    width: 33%;
    height: 300px;
}

.sizetext {
    padding-top: 25px;
    font-size: 45px;
    text-align: center;
}

.sizetext1 {
    padding-top: 25px;
    font-size: 45px;
    text-align: center;
}
.sizep {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
img.png {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 50%;
}
div.bgcolor2 {
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.bgcolor2 p {
    color: white;
    padding-top: 10px;
}

/* about.html css page  */

.textinfo h1 {
    text-align: center;
    padding-top: 25px;
}

.textinfo p {
    text-align: center;
    padding-top: 10px;
}

.image img {
    width: 100%;
    height: 800px;
    overflow: auto;
    padding-top: 15px;
}
.image1 img {
    width: 100%;
    height: 800px;
    overflow: auto;
    padding-top: 15px;
}

.image1 {
    height: 800px;
}

h1.center {
    text-align: center;
    font-size: 40px;
    color:black;
    padding-top: 30px;
    padding-bottom: 10px;
}
.bgimg7 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-image: url(photo-of-vehicles-on-road-near-buildings-2467558.jpg);
}
.bgcolor7 {
    background-color: black;
    opacity: 0.8;
    overflow: auto;
}
h3.infper1 {    
    padding-top: 13px;
    padding-left: 5px;
    color: white;
}
p.infper1 {
    text-align: center;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
}
img.infper {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    float: left;
    overflow: auto;
    padding: 10px;
}

div.space {
    padding-top: 25px;
}



/* contact.html css page */

h1.contactus {
    font-size: 45px;
    padding-top: 20px;
}
h2.contactus {
    padding-bottom: 10px;
    padding-top: 20px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
.form input {
    width: 100%;
    padding:6px;
    border: 1px solid black;

}
input#message {
    padding: 30px;
    margin-bottom: 5px;
}
.btn7 {
    background-color: rgb(36, 34, 34);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.bgclor {
    background-color: rgb(36, 34, 34);
    width: 100%;
    height: 200px;
}

.loc7 img,
.loc8 img,
.loc9 img {
    width: 50px;
    height: 50px;
}

.loc7,
.loc8,
.loc9 {
    float: left;
    padding-left: 120px;
    padding-right: 110px;
    padding-top: 40px;
    text-align: center;
    overflow: auto;
    color: white;
}
.loc7 h3,
.loc8 h3,
.loc9 h3 {
    padding-top: 10px;
    padding-bottom: 15px;
}







